/**
Botón de Amazon
@see: https://stackoverflow.com/questions/49089320/bootstrap-4-customized-button-with-text-and-image-on-right-flexed-for-bootstr;
@see: https://glyphsearch.com/?query=amazon&library=font-awesome
*/
.jei-amz{
	background: -webkit-linear-gradient(top,#f8e6b8 0,#f3d686 6%,#ebb62c 100%);
    background: -o-linear-gradient(top,#f8e6b8 0,#f3d686 6%,#ebb62c 100%);
    background: -ms-linear-gradient(top,#f8e6b8 0,#f3d686 6%,#ebb62c 100%);
    background: linear-gradient(to bottom,#f8e6b8 0,#f3d686 6%,#ebb62c 100%);

    font: normal 17px/24px Arial,Helvetica,sans-serif !important;
    color: #333 !important;
    margin: 2%;
    padding: 3%;
    border-radius: 7px;
}


.jei-amz:hover {
    background: linear-gradient(to bottom,#f4f2ed 0,#efdeb3 6%,#e8bb4a 100%);
    color:#fff !important;
}
