.archive #main{
    /* border:solid 1px red; */
    width: 100%;
}

.archive #primary
{
	width: 73%;
    margin: 0;
    /* border:solid 1px orange; */
}

.archive #content
{
    width: 100%;
    /* border: solid 1px blue; */
    margin: 0;
    padding: 0 1%;
}