/**
Sample of mixins organization
@see: https://martijncuppens.github.io/bootstrap-mixins-documentation/docs/4.1/mixins/#alert-variant
*/
/* 
Bootstrap btn primary de otro color 
@see darker colors from one given: https://www.0to255.com/ffa500
*/
.btn-primary-orange {
  color: #fff !important;
  background-color: orange !important;
}
.btn-primary-orange:hover {
  background-color: #cc8400 !important;
}

.color-yellow {
  color: #FFC107;
}

.color-darkorange {
  color: darkorange;
}

.color-instagram {
  color: #C13584;
}

.color-bootstrap-success {
  color: #28A745;
}