.singular.page-template-fotos .entry-header .entry-meta {
  position: inherit;
}

.entry-header h1.entry-title {
  margin-bottom: 0;
}

.entry-content {
  padding-top: 1%;
}

.lbc-h1 {
  margin-bottom: 0.25% !important;
}