/**
* Ajustes cabecera
*/
body {
  width: 100%;
  padding: 0 1%;
}

#page {
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
}

#main {
  padding: 1%;
}

#branding {
  background-color: #975a0a;
}
#branding hgroup h2 {
  color: #fff;
}

header #searchform {
  display: none;
}
header nav {
  background: #232F3E !important;
}

#site-title {
  padding: 0;
}

#site-description {
  margin-bottom: 2em;
}

#primary {
  width: 100%;
  margin: 0;
}
@media (min-width: 576px) {
  #primary {
    width: 100%;
  }
}
@media (min-width: 768px) {
  #primary {
    width: 73%;
  }
}
@media (min-width: 992px) {
  #primary {
    width: 73%;
  }
}
@media (min-width: 1200px) {
  #primary {
    width: 73%;
  }
}
#primary #content {
  margin: 0 2%;
  padding-top: 0;
  width: 97%;
}
#primary #content article {
  padding-top: 0;
}
#primary #content article header.entry-header {
  width: 100%;
}
#primary #content article header h1 {
  padding-top: 0;
}
#primary #content article header h1.entry-title {
  padding: 0;
}
#primary #content article .entry-content {
  width: 100%;
}
#primary #content #respond,
#primary #content footer {
  width: 95%;
}

footer:not(.blockquote-footer) {
  background: #232F3E !important;
}