.one-column #page {
  max-width: 100%;
}

/**
* Ajustes cabecera
*/
body {
  width: 100%;
  padding: 0 1%;
}

#page {
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
}

#main {
  padding: 1%;
}

#branding {
  background-color: #975a0a;
}
#branding hgroup h2 {
  color: #fff;
}

header #searchform {
  display: none;
}
header nav {
  background: #232F3E !important;
}

#site-title {
  padding: 0;
}

#site-description {
  margin-bottom: 2em;
}

#primary {
  width: 100%;
  margin: 0;
}
@media (min-width: 576px) {
  #primary {
    width: 100%;
  }
}
@media (min-width: 768px) {
  #primary {
    width: 100%;
  }
}
@media (min-width: 992px) {
  #primary {
    width: 100%;
  }
}
@media (min-width: 1200px) {
  #primary {
    width: 100%;
  }
}
#primary #content {
  margin: 0;
  padding-top: 0;
  width: 100%;
}
#primary #content article {
  padding-top: 0;
}
#primary #content article header.entry-header {
  width: 100%;
}
#primary #content article header h1 {
  padding-top: 0;
}
#primary #content article header h1.entry-title {
  padding: 0;
}
#primary #content article .entry-content {
  width: 100%;
}
#primary #content #respond,
#primary #content footer {
  width: 100%;
}

footer:not(.blockquote-footer) {
  background: #232F3E !important;
}

#secondary.jei-sidebar {
  margin-right: 0;
  width: 26% !important;
}
@media (min-width: 768px) {
  #secondary.jei-sidebar {
    margin: 0 !important;
    float: right !important;
  }
}
#secondary.jei-sidebar aside .wp-tag-cloud {
  text-align: center;
}
#secondary.jei-sidebar aside ul:not(.wp-tag-cloud) {
  padding-left: 7%;
}
#secondary.jei-sidebar aside div#gr_custom_widget_1590433898 > div,
#secondary.jei-sidebar aside div#gr_custom_widget_1590432677 > div {
  width: 100% !important;
}
#secondary.jei-sidebar aside#tag_cloud-1 h3 {
  text-align: center !important;
}

.lbc-review-item-h h2, .lbc-review-item-h h3 {
  display: inline-block;
  margin-bottom: 0;
}
.lbc-review-item-h h3 {
  all: initial;
  display: inline-block;
  font-family: sans-serif;
  margin: 2% 0 0;
  font-size: 18px;
  font-weight: bold;
}
.lbc-review-item-h .review-summary {
  margin-top: 2%;
}
.lbc-review-item-h .aawp-product__price--current {
  font-size: 20px;
  font-weight: bold;
}
.lbc-review-item-h .aawp-product__price--saved {
  font-size: 15px;
  color: #27AE60 !important;
}
.lbc-review-item-h .aawp-product__price--old {
  text-decoration: line-through;
}