/**
* Ajustes cabecera
*/
body {
  width: 100%;
}

#page {
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
}

header #searchform {
  display: none;
}

#site-title {
  padding: 0;
}

#site-description {
  margin-bottom: 2em;
}

#primary {
  width: 73%;
  margin: 0;
}
#primary #content {
  margin: 0 2%;
  padding-top: 0;
  width: 97%;
}
#primary #content article {
  padding-top: 0;
}
#primary #content article header.entry-header {
  width: 100%;
}
#primary #content article header h1 {
  padding-top: 0;
}
#primary #content article header h1.entry-title {
  padding: 0;
}
#primary #content article .entry-content {
  width: 100%;
}
#primary #content #respond,
#primary #content footer {
  width: 95%;
}