.front-stars, .back-stars, .star-rating {
  display: flex;
}

.star-rating {
  display: inline-flex;
  width: min-content;
}

.back-stars {
  color: #adb5bd;
  position: relative;
}

.front-stars {
  color: #ffc107;
  overflow: hidden;
  position: absolute;
  top: 0;
  transition: all 0.5s;
}