@charset "UTF-8";
.review-summary .summary {
  font-size: 14px;
  line-height: 1.5;
}
.review-summary .summary p {
  margin-bottom: 0;
}
.review-summary .summary p.collapse:not(.show) {
  height: 42px !important;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.review-summary .summary p.collapsing {
  min-height: 42px !important;
}
.review-summary .summary a.collapsed:after {
  content: "+ Leer más";
}
.review-summary .summary a:not(.collapsed):after {
  content: "- Leer menos";
}
.review-summary .float-right ul {
  margin: 0;
  /*
  li {
      // adjust leading spacing for each additional item
      margin-left: -10px;

      &:first-child {

        // no leading spacing for initial item
        margin-left: 0px;
      }

      &:after {
        content: '\2022'; // bullet
        margin: 0 5px;
      }

      // no bullet on last
      &:last-child:after {
        content: '';
      }
    }
    */
}