#secondary.jei-sidebar {
  margin-right: 0;
  width: 26%;
}
#secondary.jei-sidebar aside .wp-tag-cloud {
  text-align: center;
}
#secondary.jei-sidebar aside ul:not(.wp-tag-cloud) {
  padding-left: 7%;
}
#secondary.jei-sidebar aside div#gr_custom_widget_1590433898 > div,
#secondary.jei-sidebar aside div#gr_custom_widget_1590432677 > div {
  width: 100% !important;
}
#secondary.jei-sidebar aside#tag_cloud-1 h3 {
  text-align: center !important;
}