@charset "UTF-8";
/**
* Ajustes cabecera
*/
#page {
  margin: 0 auto;
}

header #searchform {
  display: none;
}

#site-title {
  padding: 0;
}

#site-description {
  margin-bottom: 2em;
}

/**
Corrección cajas blog POSTs
*/
.singular #content, .left-sidebar.singular #content {
  margin: 0 2%;
}

.single-post .entry-content, .single-post .entry-header {
  width: 100%;
}

/**
Corrección cajas PODS
*/
.singular #primary {
  width: 73%;
  margin: 0;
}

.singular .entry-header, .singular .entry-content,
.singular footer.entry-meta,
.singular #comments-title {
  width: 95%;
}

#primary #content {
  margin: 0;
}
#primary #content article {
  padding-top: 0;
}
#primary #content article header h1 {
  padding-top: 0;
}