# ignore everything in the "wp-content" directory, except:
# "themes/twentyeleven-child" directory
wp-content/ai1wm-backups
wp-content/cache
wp-content/cusri
wp-content/languages
wp-content/plugins
wp-content/themes/twentyeleven
api/cache
api/config.php
wp-content/updraft
wp-content/upgrade
wp-content/uploads
wp-content/index.php


# ignore node dependency directories
node_modules/

# ignore log files and databases
*.log
*.sqlite
/nbproject/private/

# Composer ignores
vendor

#jesus ignores
.htaccess
nbproject
wp-config.php
.vscode
