/**
Sample of mixins organization
@see: https://martijncuppens.github.io/bootstrap-mixins-documentation/docs/4.1/mixins/#alert-variant
*/

$color-instagram: #C13584;
$color-yellow: #FFC107;
$color-orange:orange;
$color-darkorange:darkorange;
$color-gris-price-amazon:#BBBBC1;
$color-bootstrap-success:#28A745;