$size: 180px;
.maintxt {
    background-size: cover;
    border-radius: 50%;
    width: $size;
    height: $size;  
    
}

.circlex
  {
    border-radius: 50%;
    width: $size;
    height: $size; 
  }

