@use '_variables' as c;

/* 
Bootstrap btn primary de otro color 
@see darker colors from one given: https://www.0to255.com/ffa500
*/
.btn-primary-orange {
    color: #fff !important;
    background-color:c.$color-orange !important;

    &:hover {
        background-color: darken(c.$color-orange, 10%) !important;
    }
}

.color-yellow{
	color: c.$color-yellow;
}

.color-darkorange{
	color: c.$color-darkorange;
}

.color-instagram{
	color: c.$color-instagram;
}
.color-bootstrap-success{
	color: c.$color-bootstrap-success;
}