// https://www.dev-tips-and-tricks.com/use-bootstrap-4-media-query-mixins
// https://github.com/twbs/bootstrap/blob/v4.3.1/scss/mixins/_breakpoints.scss
@import "../../../../vendor/twbs/bootstrap/scss/_functions.scss";
@import "../../../../vendor/twbs/bootstrap/scss/_variables";
@import "../../../../vendor/twbs/bootstrap/scss/mixins/_breakpoints"; 

/**
* Ajustes cabecera
*/
body{
    width:100%;
    // border: solid 1px red;
    padding: 0 1%;
}
#page {
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
    // border: solid 1px orange;
}
#main{
    padding: 1%;
}
#branding{
    background-color: darken(#F3A847, 30%);

    hgroup {
        h2 { 
            color:#fff;
        }
    }
}
header { 
    #searchform {
	    display:none;
    }
    nav{
        background: #232F3E !important;
    }
}
#site-title {
    padding: 0;
}
#site-description {
    margin-bottom: 2em;
}

#primary {
    // Mobile
    @include media-breakpoint-up(xs) {
        width: 100%;
        // border: solid 2px red;
    }
    // Tablet vertical
    @include media-breakpoint-up(sm) {
        width: 100%;
        // border: solid 2px orange;

        .aawp-product--horizontal .aawp-product__image{
            // float: left;
        }
    }
    // Tablet vertical (desktop-like version)
    @include media-breakpoint-up(md) {
        width: 73%;
        // border: solid 2px yellow;
    }
    // Tablet horizontal
    @include media-breakpoint-up(lg) {
        width: 73%;
        // border: solid 2px green;
    }
    // Desktop
    @include media-breakpoint-up(xl) {
        width: 73%;
        // border: solid 2px blue;
    }

    margin: 0;
    // border: solid 1px red;

    #content {
        margin: 0 2%;
        // border: solid 1px orange;
        padding-top: 0;
        width:97%;

        article{
            padding-top: 0;
        
            header {
                &.entry-header {
                    // border: solid 1px blue;
                    width:100%;
                }
                h1{
                    padding-top: 0;
                    // border: solid 1px green;
                    &.entry-title{
                        padding: 0;
                    }
                }
            }

            .entry-content {
                // border: solid 1px yellow;
                width:100%;
            }
        
        }

        #respond,
        footer {
            width: 95%;
            // border: solid 1px pink;
        }
    }

}

footer:not(.blockquote-footer){
    background: #232F3E !important;
}



#secondary.jei-sidebar {
    // border: solid 1px green;

    margin-right: 0;
    width: 26% !important;

    // Tablet vertical (desktop-like version)
    @include media-breakpoint-up(md) {
        // border: solid 2px yellow;
        margin: 0 !important;
        float: right !important;
    }
    
    aside {
        // border: solid   1px blue;

        .wp-tag-cloud{
            text-align: center;
        }

        ul:not(.wp-tag-cloud) {
            // border: solid 1px red;
            padding-left: 7%;
        }
        
        div#gr_custom_widget_1590433898 > div, // Goodreads leyendo ahora
        div#gr_custom_widget_1590432677 > div  // Goodreads siguientes
        {
            // border: solid 1px red;
            width: 100% !important;
        }
        &#tag_cloud-1{
            h3 {
                text-align: center !important;
            }
        }
    }
    
}


.lbc-review-item-h {
    h2, h3 {
        display: inline-block;
        margin-bottom: 0;
    }

    h3 {
        all: initial;

        display: inline-block;
        font-family: sans-serif;

        margin: 2% 0 0;
        font-size: 18px;
        font-weight: bold; 
    }

    .review-summary{
        margin-top: 2%;
    }

    .aawp-product__price{
        font-size: 20px;
        font-weight: bold;
    }
}