.lbc-file {
    .aawp {
        // min-width: 50%;
        width: 100%;
    }
    .lbc-contenido { 
        p:first-of-type {   
            font-size: 1.4em;
            // border: solid 1px red;
        }
    }
}