$amz-dark-list-items: #232F3E;
.lbc-search-complete{
    background: $amz-dark-list-items !important;
}

input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: lightgray !important;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: lightgray !important;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: lightgray !important;
}

