// https://www.dev-tips-and-tricks.com/use-bootstrap-4-media-query-mixins
// https://github.com/twbs/bootstrap/blob/v4.3.1/scss/mixins/_breakpoints.scss
@import "../../../../vendor/twbs/bootstrap/scss/_functions.scss";
@import "../../../../vendor/twbs/bootstrap/scss/_variables";
@import "../../../../vendor/twbs/bootstrap/scss/mixins/_breakpoints"; 

html {
    // Mobile
    @include media-breakpoint-up(xs) {
        $font-size: 1.0625rem;
        // border: solid 2px red;
    }
    // Table up
    @include media-breakpoint-up(sm) {
        $font-size: 1.125rem;
        // border: solid 2px orange;
    }
    @include media-breakpoint-up(md) {
        $font-size: 1.125rem;
        // border: solid 2px yellow;
    }
    @include media-breakpoint-up(lg) {
        $font-size: 1.1875rem;
        // border: solid 2px green;
    }
    // Desktop
    @include media-breakpoint-up(xl) {
        $font-size: 1.1875rem;
        // border: solid 2px blue;
    }

    font-size: calc($font-size + .4vw);
  }
  